$Orange: #E84409;
$ValorImgMax: 100%;
$ValorMedio: 80%;
$White: #FFFFFF;
$Gray: #BCB7C9;
$Purpura: #4D225E;
$Morado: #8B3C98;
$Azul: #7BA7B1;
$Rosa: #872B5C;
$Lila: #C28FCA;
$Cafe: #5B4134;
$Tres: 3%;
$Rgba: rgba(255, 87, 34, 0.6);